{% extends "index.html" %}

{% block title %}Groups{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Choose a Group</h2>
    {% for group in groups %}
    <div class="group-container col-md-3">
        <div class="group-icon">
            <a href="group/{{ group.id }}">
                <img src="{{ group.image_url|default_if_none:"https://lh4.ggpht.com/EyZuxEz7W8N2U6t97xOlf58nzRT7-EVV_dP-eDoXQSaQ6WvYvAomhP4fWL8MxpmyDw=w300" }}">
            </a>
        </div>
        <h5><a href="group/{{ group.id }}">{{ group.name }}</a></h5>
    </div>
    {% endfor %}
</div>
{% endblock %}
