{% extends "index.html" %}
{% load filters %}
{% load staticfiles %}
{% load humanize %}
{% block title %}{{ group_info.name }}{% endblock %}

{% block extrahead %}
<script src="{% static "lib/bootstrap-select.min.js" %}"></script>
<link href="{% static "lib/bootstrap-select.min.css" %}" rel="stylesheet">
{% endblock %}

{% block navitems %}
<li class="active"><a href="/group/{{ group_info.group_id }}">Group</a></li>
<li><a href="/group/{{ group_info.group_id }}/messages">Messages</a></li>
{% endblock %}

{% block content %}
<script>
var group_id = {{ group_info.id }};
</script>
<div class="container">
    <div class="page-header">
      <h2>{{ group_info.name }} <small>Created: {{ group_info.created_at|ftimestamp:"%m/%d/%Y" }}, {{ group_info.messages.count|intcomma }} total messages </small></h2>
    </div>
  <div class="row">
    <div id="group-photo" class="col-md-8">
      <img src="{{ group_info.image_url|default_if_none:"http://www.bapa.org/uploads/Image/GroupMe_logo_lockup_horizontal.jpg" }}">
    </div>

    <div class="members col-md-4">
      <h4>Members ({{ group_info.members|length }})</h4>
      <h6><em>total msgs | likes rec/given | ratio</em></h6>
        <div class="list-group">
        {% for member in group_info.members %}
          <span class="list-group-item">
    	  <h6>{{ member.nickname }}</h6>
    	     <span class="list-group-item-text">
    	            <small class="total-messages">Total Messages: {{ group.analysis.msgs_per|get_item:member.user_id }} | </small>
    	            <small>{{ group.analysis.likes_rec|get_item:member.user_id }}/{{ group.analysis.likes_give|get_item:member.user_id }} | </small>
    	            <small>{{ group.analysis.ratio|get_item:member.user_id|floatformat:3}}</small>
            </span>
         </span>
         {% endfor %}
        </div>
    </div>
</div>
 {% block group_content %}
    <div class="page-header">
        <h3>Group Connections <small><span style="font-size: 140%; color: red;">&#9829;</span> <span style="color: #FFCC6C;">given</span>/<span style="color: #00CDCD;">received</span></small>
    </div>
    <div class="row">
        <div class="col-md-9" id="network"></div>
        <div class="col-md-3 pagerank">
            <h3>Value</h3>
            <ol>
                {% for key, value in group.analysis.prank|dictsort_val %}
                <li><strong>{{ member_map|get_item:key }}: </strong>{{ value|floatformat:6 }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="page-header">
        <h3>Percentages</h3>
    </div>

    <div class="row">
        <div class="col-md-9" id="tree"></div>
        <ul class="col-md-3 percentage nav nav-pills nav-stacked">
          <li id="messages" class="active"><a>Messages</a></li>
          <li id="likes_rec"><a>Likes Received</a></li>
          <li id="likes_given"><a>Likes Given</a></li>
        </ul>
    </div>
    <script src="{% static "js/network.js" %}"></script>
    <script src="{% static "js/treemap.js" %}"></script>
    </div>
</div>
{% endblock %}

{% endblock %}
