{% extends "group.html" %}
{% load filters %}
{% load staticfiles %}
{% load humanize %}

{% block extrahead %}

<script src="{% static "lib/ekko-lightbox.min.js" %}"></script>
<link href="{% static "lib/ekko-lightbox.min.css" %}" rel="stylesheet">

{{ block.super }}

<style>
#conversation-finder {
    width: 200px;
    margin-top: 10px;
}
</style>

{{ form.media }}

<script>
$(function() {
    $("#msg-query").submit(function(e) {
        var q = $(this).serialize();
        $("#msg-query input[type='submit']").hide();
        $("#loading-query").show();
        $.get("messages/query?" + q, function(data) {
                if(data) {
                    $("#query-error").hide();
                    $("#query-resp").html(data);
                }
                else {
                    $("#query-error").show();
                }
                $("#msg-query input[type='submit']").show();
                $("#loading-query").hide();
        });
        e.preventDefault();
    });
    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
    });

})
</script>


{% endblock %}

{% block navitems %}
<li><a href="/group/{{ group_info.group_id }}">Group</a></li>
<li class="active"><a href="/group/{{ group_info.group_id }}/messages">Messages</a></li>
{% endblock %}

{% block group_content %}
<div class="page-header">
    <h3>Top Days <small>Messages & Likes</small></h3>
</div>

<div class="row">
    <div class="col-md-9" id="daily"></div>
</div>

<div class="row">
    <div class="form-group">
        <div class='col-sm-6'>
            <div class="form-group">
                <label>Click a point on the graph to view that day's conversation, or pick a specific date.</label>
                <div class='input-group date' id='conversation-finder'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function () {
        $('#conversation-finder').datetimepicker({
            'pickTime': false
        });
        $('#conversation-finder').on("change.dp", function(e) {
            if(e && e.date) {
                var date = ('0' + (e.date.month()+1)).slice(-2) + '/' + ('0' + e.date.date()).slice(-2) + '/' + e.date.year();
                $("#conversationModal").modal({'show':true, 'remote':'messages/conversation?day='+date});
            }
        });
    });
    </script>
    </div>
</div>

<div class="page-header">
    <h3>Message Finder</h3>
</div>

<div class="row msg-constraints">
    <form id="msg-query" class="form-horizontal" action="/group/{{ group_info.group_id }}/messages" method="get" role="form">
        <div class="form-group">
            <div class="col-md-3">
                    {{ form.start_date.label_tag }}
                    {{ form.start_date }}
            </div>
            <div class="col-md-3">
                    {{ form.end_date.label_tag }}
                    {{ form.end_date }}
            </div>

            <div class="col-md-2" id="sort-select">
                {{ form.sort_by.label_tag }}
                {{ form.sort_by }}
            </div>

            <div class="col-md-1">
                <label class="checkbox-inline" id="sort-desc">
                 {{ form.sort_order }} {{ form.sort_order.label_tag }}
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3" id="like-constraint">
                <div class="col-md-5">
                    <label># of Likes</label>
                    {{ form.min_likes }}
                </div>
                <div class="col-md-5">
                    <label>Min/Max</label>
                    {{ form.max_likes }}
                </div>
            </div>

            <div class="col-md-4" id="sent-select">
                {{ form.sent_by.label_tag }} <a href="#" id="all-senders">All?</a>
                {{ form.sent_by }}
            </div>

            <div class="col-md-2" style="margin-left:-20px;">
                {{ form.limit.label_tag }}
                {{ form.limit }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label>{{ form.text_contains.label_tag }}</label>
                {{ form.text_contains }}
            </div>

            <div class="col-md-4">
                <label>{{ form.text_not_contain.label_tag }}</label>
                {{ form.text_not_contain }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label class="checkbox-inline">
                    {{ form.random }} {{ form.random.label_tag }}
                </label>
                <label class="checkbox-inline">
                    {{ form.img }} {{ form.img.label_tag }}
                </label>
            </div>
        </div>

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <button type="button" id="loading-query" class="btn btn-primary"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
        </div>
    </form>

    <div class="row">
        <div id="query-error" style="display: none;" class="alert alert-danger">
            <p>There were errors when processing the query. Please check that all requirements are met.</p>
        </div>
        <div class="col-md-12" id="query-resp">
        </div>
    </div>
</div>

<div class="modal fade" id="conversationModal" tabindex="-1" role="dialog" aria-labelledby="conversationModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<script src="{% static "js/line.js" %}"></script>

<script>
$('.selectpicker').selectpicker();
$('#all-senders').click(function(event) {
    event.preventDefault();
    $('#sent-select .selectpicker').selectpicker('selectAll');
});
</script>
{% endblock %}
