{% load filters %}

<h4 style="margin-bottom: 2px;">Query matched {{ messages|length }} messages.</h4>
<small>Click the date for message context.</small>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-2">Date</th>
            <th class="col-md-7">Content</th>
            <th class="col-md-1">Sender</th>
            <th class="col-md-1">Likes</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td>
            <a data-toggle="modal" href="messages/conversation?day={{ message.created|date:"m/d/Y" }}" data-target="#conversationModal">
                {{ message.created|date:"N j, o - P" }}
            </a>
            </td>
            <td>{{ message.text }} {% if message.img %}
                – <a target="_blank" href="{{ message.img }}">attachment</a>
                {% endif %}
            </td>
            <td>{{ member_map|get_item:message.author }}</td>
            <td>{{ message.n_likes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
