/* Groups */
.group-container {
    padding: 15px;
}

.group-container h5 {
    text-align: center;
}

.group-container h5 a {
    color: black;
}

.group-icon {
    border: 1px solid #ddd;
    padding:4px;
    position: relative;
    height: 200px;
    width: 275px;
}

.group-icon img {
    width: 125%;
    position: absolute;
    clip: rect(0 265px 190px 0);
}


.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}


body > .container {
     padding: 60px 15px 0;
}

.row {
    margin-bottom: 10px;
}

.col-centered {
  margin: 0 auto;
  float:none;
}

.data-loading {
    float: none;
    margin: 0 auto;
}

.data-loading > div {
    margin-top: 50px;
}

.data-loading .glyphicon {
  font-size: 2em;
}

#group-photo {
    position: relative;
}

#group-photo img {
  width: 97%;
  position:absolute;
  clip: rect(0 auto 363px 0);
}

.members .list-group {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.members .list-group-item {
  padding: 5px 10px;
  cursor: pointer;
}

.members .list-group-item:hover {
    background-color: #f7f7f9;
}

.user-sparkcharts {
    display: none;
}

.user-sparkcharts hr {
    margin-bottom: 5px;
    margin-top: 10px;
}

.user-sparkcharts .sparkchart-wrap {
    margin-top: 5px;
    display: inline-block;
    width: 40%;
}

.members .list-group-item .sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

.members .list-group-item h6 {
  margin: 2px 0;
}

#network > svg {
    border: 1px solid #f2f2f2;
}

#network .zoom {
    cursor: pointer;
    font-size: 22px;
}

#network .zoom:hover {
    font-weight: bold;
}

#network .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#network .link {
  fill: none;
  stroke: #999;
  stroke-opacity: .6;
}

#network .edge-weight {
    display: none;
    font-size: 30px;
    font-weight: bold;
    stroke: red;
    stroke-width: .25px;
}

.pagerank ol {
    font-size: 110%;
    line-height: 1.6;
    max-height: 450px;
    overflow-y: auto;
}

.cell {
    overflow: hidden;
}

.percentage a {
    cursor: pointer;
}


/*
Messages Page
*/
#loader {
    width:125px;
    height: 125px;
}

.msg-constraints {
    margin-left: 0px;
}

.msg-constraints input[type="submit"] {
    margin-left: 15px;
}

.msg-constraints form #sent-select .bootstrap-select.btn-group {
    display: block;
    width: 350px;
}

.msg-constraints form #sort-select .bootstrap-select.btn-group {
    display: block;
    width: 175px;
}

.msg-constraints form #sort-desc {
    margin-top: 25px;
}

.msg-constraints #all-senders {
    color: black;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

#loading-query {
    display: none;
    width: 70px;
    margin-left: 15px;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#like-constraint {
    padding-left: 0px;
    margin-right: -65px;
}


#daily {
  font: 10px sans-serif;
}

#daily .axis path,
#daily .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#daily .x.axis path {
  display: none;
}

#daily .line {
  fill: none;
  stroke-width: 1.5px;
}

#conversationModal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

#conversationModal .modal-content {
    background-color: #f2f2f2;
}

.avatar {
    width: 40px;
    position: relative;
}

.avatar img {
    width: 100%;
    display: block;
}

.discussion {
    list-style: none;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0 0 50px 0;
}

.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.messages {
    background: white;
    padding: 10px 20px;
    position: relative;
    width: 45%;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
}

.messages p {
    font-size: 1.3rem;
    margin: 0 0 0.2rem o
}

.messages time {
    font-size: 1rem;
    color: #aaa;
}

.messages .likes {
    position: absolute;
    top:40%;
    right: -35px
}

.self .messages .likes {
    left: -35px;
}

.likes .glyphicon-heart {
    color: red;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
    margin-right: 12px;
}

.other .messages {
    margin-left: 12px;
}

.self .avatar {
    order: 2;
}

.other .avatar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    margin-right: -13px;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self .avatar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin-left: -13px;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

#names .axis path,
#names .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#names .tick text {
    font-size: 10px;
}

#names  .line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

#names  .overlay {
  fill: none;
  pointer-events: all;
}

#names .focus text {
    font-size: 13px;
    text-anchor: middle;
}

#names .focus .current {
    font-weight: bold;
    font-size: 15px;

}

#names .name-date {
    font-size: 11px;
}

#names .tracker {
    stroke: black;
}
