.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}


body > .container {
     padding: 60px 15px 0;
}

.row {
    margin-bottom: 40px;
}

.col-centered {
  margin: 0 auto;
  float:none;
}

#group-photo {
    position: relative;
}

#group-photo img {
  width: 97%;
  position:absolute;
  clip: rect(0 auto 363px 0);
}

.members .list-group {
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.members .list-group-item {
  padding: 5px 10px;
}

.members .list-group-item h6 {
  margin: 2px 0;
}

#network .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#network .link {
  fill: none;
  stroke: #999;
  stroke-opacity: .6;
}

#network .edge-weight {
    display: none;
    font-size: 17px;
    font-weight: bold;
    stroke: red;
    stroke-width: .25px;
}

.pagerank ol {
    font-size: 110%;
    line-height: 1.6;
    max-height: 450px;
    overflow-y: auto;
}

.cell {
    overflow: hidden;
}


.percentage a {
    cursor: pointer;
}
